@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Archivo+Black&family=Chelsea+Market&family=Lalezar&family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Preahvihear&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #11071F;
}

header {
  height: 125px;
  background: rgba(118, 60, 172, 0.09);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeader {
  width: 47px;
  height: 47px;
  margin-left: 55px;
}

.navegationContainer {
  margin-right: 52px;
}

.navegation ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.navLink {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: rgba(255, 255, 255, 0.90);
  font-size: 23px;
}

.linkedin {
  font-family: Arial, Helvetica, sans-serif;
}

.navLink:hover {
  color: #FFFF00BF;
}


.iconHeader:hover svg {
  fill: #FFFF00BF;

}

/*Main*/

.projectsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}


.projects{
  border-radius: 1076px;
background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
width: 763px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title{
  color: #FF0;
  font-size: 55px;
  text-align: center;
}

.colchetes{
  color: #FFF;
 
}

.projects p{
  font-family: 'Preahvihear', sans-serif;
  font-size: 30px;
  color: #FFF;
  padding-top: 1em;
  font-weight: 400;
  line-height: 126.664%; /* 37.999px */
  letter-spacing: 0.6px;
}

#stack{
  padding-top: 0.5em;
}

/*Cards dos Projetos*/

.projectContent{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 15px;
  margin: 5rem;
  position: relative; 
    
}



.cards {
  width: 375px;
  height: 535px;
  border-radius: 20px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  }
  
  .cards-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  }
  
  .cards-content .cards-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  }
  
  .cards-content .cards-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
  }
  
  .cards:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
  }
  
  .cards:hover:before {
  transform: translateX(-100%);
  }
  
  .cards:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
  }
  
  .cards:hover:after {
  transform: translateX(100%);
  }




.balls{
  padding: 2em 1em;
}


.titleProjects{
  color: #61DAFB;
font-family: Poppins;
font-size: 28px;
font-weight: 500;
line-height: 26px;
text-align: center;
padding-top: 0.5em;
}

.blue {
  color: #61DAFB;
}

.highlight {
  color:#FF0;
}

.paragraph{
  color: #ccc;
  font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 23.5px;
width: 314px;
justify-content: center;
margin: 0 auto;
padding-top: 1em;
}


.linksProjects {
  position: absolute; /* Adicione esta linha */
  bottom: 10px; /* Ajuste a distância do fundo conforme necessário */
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
  display: flex;
  justify-content: space-around;
  width: 100%; /* Certifique-se de que ocupe toda a largura dos cards */
  padding-top: 1em;
 
}

.linksProjects a{
  color: #FFF;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
text-decoration-line: underline;

}

/*Loading animation*/

.loading-container {
  position: relative; /* Adicionado para posicionamento relativo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-circle {
  width: 200px;
  height: 200px;
  border: 13px dotted #471542;
  border-top: 5px dashed transparent;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loading-text {
 
  position: absolute; /* Adicionado para posicionamento absoluto */
  top: 50%; /* Ajusta a posição verticalmente ao centro */
  left: 50%; /* Ajusta a posição horizontalmente ao centro */
  transform: translate(-50%, -50%); /* Centraliza o texto dentro do círculo */
  color: #FF0;
  text-align: center;
font-family: Poor Story;
font-size: 35px;
font-weight: 400;
line-height: 26px;
  
}


.contact{
  display: flex;
  justify-content: flex-end;
}

.contact a{
  margin-right: 2rem;
  padding: 2rem;
  color: #A7A7A7;
}

.footerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  
}

.footerNav{
  border-top: 2px solid #FFF;
}

.footerNavegation ul{
  display:flex;
  justify-content: center;
  align-items: center;
 
}

.footerNavegation li{
  padding: 2rem;
}


/*Animações*/



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}

@media (max-width: 400px) {
  
  .logoName{
    display: block;
    padding: 1em;
    color: #ccc;
    font-family: 'Preahvihear', sans-serif;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .logoName:hover{
    color: #FFFF00BF;
  }

  .logoHeader{
    display: none;
  }

  .menuToggle {
    display: block; /* Mostrar o menu hamburguer */
  }

  .navegationContainer {
    display: none; /* Ocultar o menu de navegação por padrão */
    position: absolute;
    top: 80px;
    left: 0.5rem;
    right: 0; /* Adicione esta propriedade para alinhar à direita */
    background-color: rgba(118, 60, 172, 0.09);
    width: 100%;
  }

  .navegation ul {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navegation ul li{
    padding: 0.03em;
  }

  .navLink {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* Estilos para mostrar o menu de navegação quando o hamburguer é clicado */
  .menuToggle.active + .navegationContainer {
    display: block;
  }

  .menuToggle.active .hamburger::before {
    transform: rotate(45deg);
    top: 0;
  }
  
  .menuToggle.active .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
  }

  /* Estilos para o ícone de hamburguer */
  .menuToggle .hamburger {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
  }
  
  .menuToggle .hamburger::before,
  .menuToggle .hamburger::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }
  
  .menuToggle .hamburger::before {
    top: -8px;
  }
  
  .menuToggle .hamburger::after {
    top: 8px;
  }

  .projectsContainer{
    flex-direction: column;
    width: 100%;
    
  }

  .projects{
    width: 100%;
  }

  .title{
    font-size: 35px;
  }

  .projects p{
    font-size: 18px;
    padding: 1em;
  }

  .image img{
    width: 90%;
  
  }

  .projectContent{
    grid-template-columns: 1fr;
   justify-content: center;
    align-items: center;
  }

  .cards{
    width: 275px;
    height: 600px;
  }

  .paragraph{
    font-size: 14px;
    width: 260px;
    justify-content: flex-start;
    padding: 0.5em;
  }

  .contact{
    justify-content: center;
    width:100%;
  }
  .contact a {
   
    margin-right: 0;
    font-size: 1em;
  }

  .footerNavegation ul{
    flex-wrap: wrap;
  }


  .copyrigth h3{
    font-size: 1em;
  }


}
